@keyframes liked_scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes sparkles {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.like-icon {
  transition: fill 0.3s ease;
}

.like-icon .contour {
  fill: var(--contour-fill-color, #000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .core {
  fill: var(--core-fill-color, transparent);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: var(--main-body-fill-color, transparent);
  transition: fill 0.3s linear 0.05s;
}

.like-icon .sparks {
  fill: var(--sparks-fill-color, red);
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:not(:hover) .core {
  fill: var(--core-fill-color, transparent);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:not(:hover) .main-body {
  fill: var(--main-body-fill-color, transparent);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--animation-color, red);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-color, red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked {
  animation: liked_scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-color, red);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-color, red);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-color, red);
}

.like-icon.is-liked .sparks {
  animation: sparkles 0.3s ease-in 0.3s;
}